@import './setting';

// 省略号
%ellipse{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

@mixin themeify {
    @each $theme-name, $theme-map in $themes {
        //!global 把局部变量强升为全局变量
        $theme-map: $theme-map !global;
        //#{}是sass的插值表达式
        //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
        .theme-#{$theme-name} & {
            @content;
        }
    }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
    @return map-get($theme-map, $key);
}

//字体颜色
@mixin fontColor($color) {
    @include themeify(){
        color:themed($color);
    }
}
//背景颜色
@mixin bgColor($color) {
    @include themeify(){
        background:themed($color) !important;
    }
}

// 背景横向渐变
@mixin linearGradient($dr, $start, $end, $url, $startOp:0.9, $endOp:0.9) {
    @include themeify(){
        background:$url top right  no-repeat
          , linear-gradient($dr, rgba(themed($start), $startOp), rgba(themed($end), $endOp));
          background-size: auto 100%;
    }
}

// 背景纵向渐变
@mixin linearGradient-v($start, $end, $url, $startOp:0.8, $endOp:0.9) {
    @include themeify(){
        background:$url center bottom  no-repeat
          , linear-gradient(to bottom, rgba(themed($start), $startOp), rgba(themed($end), $endOp));
    }
}
